# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.env
.env.local

# Playwright
playwright/.cache/
playwright/*/browser/

# Logs
logs/
*.log
hasil_scraping.csv
session.json
output
analysis_summary.txt

# OS
.DS_Store
Thumbs.db
